
<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix makeRelative"
  >
  <span class="pressPlay" (click)="playPauseSong($event); false">
    <i playPause class="fa fa-play-circle" aria-hidden="true" style="font-size: 40px"></i>
  </span>

  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ song.title }}</h4>
    <p class="list-group-item-text">{{ song.artist }}</p>
  </div>

  <div class="pull-right">
        <img
          [src]="song.imagePath"
          alt="{{ song.trackName }}"
          class="img-responsive"
          style="max-height: 50px;">
  </div>
  <span (click)="deleteSong($event); false"><i makeRed class="fa fa-trash trash pull-right" style="font-size: 25px !important; color: #BDBDBD;"></i></span>
</a>