.trash{
    display: inline;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 8px;
}

.redTrash{
    color: red;
}

.pressPlay{
  margin-right:15px;
  float:left;
vertical-align: middle;
}

.hide{
   display: none; /* OR */  
}

.makeRelative{
    position: relative;
}