
.appParent{
    position: relative;

}

.appSongs{
    position: absolute;
    left: 0;
}

.testImage{
    max-height: 300px;
    max-width: 300px;
    border-radius: 25px;
}

#left{
    width: 60%;
    height: 50%;
    float: left;
    border: 2px solid red;
}

#right{
    width: 40%;
    height: 40%;
    float: right;
    border: 2px solid blue;
}