
  <div class="well sidebar-nav">
    <ul class="nav">
      <li><strong>Songs added to playlist: {{playlistName}}</strong></li>
      <li class="active"><a href="#">Maths</a></li>
      <li><a href="#">English</a></li>
      <li><a href="#">Art and Design</a></li>
      <li><a href="#">Drama</a></li>
      <li><a href="#">Music</a></li>
      <li><a href="#">Physics</a></li>
      <li><a href="#">Chemistry</a></li>
      <li><a href="#">Biology</a></li>
      <li><a href="#">Home economics</a></li>
      <li><a href="#">Physical Education</a></li>
      <li><a href="#">Computing Science</a></li>
      <li><a href="#">French</a></li>
      <li><a href="#">German</a></li>
      <li><a href="#">Mandarin</a></li>
      <li><a href="#">Religious Education</a></li>
      <li><a href="#">Modern Studies</a></li>
      <li><a href="#">Geography</a></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Creative computing</a></li>
      <li><a href="#">Craft, Design and Technology</a></li>
      <li *ngFor="let songEl of listOfSongs; let i = index"><app-song-item [song]="songEl" [index]=i></app-song-item></li>
    </ul>
  </div><!--/.well -->