<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="addSpace"><img src="../../../assets/Images/logo.png" alt="logo"></li>
        <li id="appTitle"><p class="navbar-brand">Playlist Manager</p></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navLinks"><a>Manager</a></li>
        <li class="navLinks"><a>About</a></li>
        <li class="navLinks"><a>Logout</a></li>    
      </ul>
    </div>
  </div>
</nav>